* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 960px;
  margin: 30px auto;
}

input {
  width: 100%;
  font-size: 1.2rem;
  margin: 0;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

h2 {
  text-align: center;
  padding: 1rem 0;
}

h3,
p {
  text-align: center;
  padding: 1rem;
}

.card-grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.card {
  align-content: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
  text-align: center;
}
